<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAT</title>
  <link rel="stylesheet" href="../static/css/style4.css">
</head>
<body>
<div class="top">
  <div class="tl">
    <h3>Brandname</h3>

  </div>
  <div class="tc">
    <button>home</button>
    <button>product</button>
    <button>pricing</button>
    <button>contact</button>
  </div>
  <div class="tr">
    <button>login</button>
    <button class="join-us">Join us</button></div></div>


<div class="middle">
  <div class="ml"></div>
  <div class="mc">
    <h6 class="welcome">welcome</h6>
    <br>
    <h1>      Selling on the <br> internet like a pro</h1>
    <h5>We know large objects will act but things on <br>small scale do not act that way</h5>
    <button class="mid-left"> something</button>
    <button class="mid-right">learn more</button>
  </div>
  <div class="mr"></div></div>


<div class="bottom">
  <div class="bl"><img src="../static/images/gradient.jpg">
  <h3>1.training courses</h3>
    <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam asperiores beatae consectetur culpa dignissimos earum est harum ipsam laboriosam nisi non odio officiis perspiciatis qui rem, similique tenetur voluptatum.</p></div>
  <div class="bc"><img src="../static/images/gradient.jpg">
  <h3> 2.online courses</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea exercitationem explicabo id maxime minus neque numquam, tempore unde. Neque, nesciunt sapiente? Consequuntur, debitis eos laborum quae similique temporibus vel voluptates.</p></div>
    <div class="br"> <img src="../static/images/gradient.jpg">
  <h3> 3.weekend courses</h3>
      <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore est soluta? Cumque debitis dolor, et eveniet id, ipsam magnam, numquam obcaecati optio provident reprehenderit sapiente sit sunt unde velit.</p></div>

</div>

</body>
</html>