<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design2</title>
    <link rel="stylesheet" href="../static/css/style3.css">
</head>
<body>
<div class="containerdiv">
    <div class="navigation-div">
        <div class="logo"><img src="../static/images/logo.jpg" class="logoimg"></div>
        <div class="buttons">
            <button>home</button>
            <button>About</button>
            <button>gallery</button>
            <button>...</button>
        <img src="../static/images/img1.jpg"></div>
    </div>
    <div class="content-wrapper">
        <div class="wld"><h1>MAKE HTML & CSS WEBSITE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta dolor iusto labore magni</p>
            <button class="r">Learn more</button>
            <button class="k"> Register</button></div>
        <div class="wrd"></div>
    </div>
</div>

</body>
</html>