<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
<div class="top"><img src="../static/images/img1.jpg" class="a"></div>
<div class="bottom">
    <div class="bottomleft"><img src="../static/images/img5.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur consectetur dolorum eos expedita incidunt, magni minima nemo
        nostrum odit officia, omnis porro quam quidem sed totam vel?</p></div>
    <div class="bottomcenterleft"><img src="../static/images/img4.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur consectetur dolorum eos expedita incidunt, magni minima nemo
        nostrum odit officia, omnis porro quam quidem sed totam vel?</p></div>
    <div class="bottomcenterright"><img src="../static/images/img3.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur consectetur dolorum eos expedita incidunt, magni minima nemo
        nostrum odit officia, omnis porro quam quidem sed totam vel?</p></div>
    <div class="bottomright">  <img src="../static/images/img2.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur consectetur dolorum eos expedita incidunt, magni minima nemo
        nostrum odit officia, omnis porro quam quidem sed totam vel?</p></div>

</div>
</body>
</html>