<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cities</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <div class="top">
          <h1>Cities</h1>
        </div>
        <div class="middle"><div class="middleleft">
            <ol>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ol></div>
             <div class="middleright"><h1>London</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt dignissimos eligendi fugit ipsa non odit rerum tempo00ra
            . Accusamus eius esse facere ip
            sam modi nam nesciunt nihil quod vero voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aperiam blanditiis deleniti eligendi est et fugiat
                ipsum, nemo neque nobis nulla omnis
                qui quidem quod reiciendis sunt tempora voluptatem.</p>

        </div>

        </div>
        <div class="bottom"><h5>footer</h5>

        </div>
</body>
</html>